{% block title %}Stage 3: Instructions{% endblock %}
{% block content %}

    <p>
        For Stage 2, you have been assigned as your charity
        {% if participant.charity_order %}
            <strong>
            {% if participant.CISWO == 1 %}
                CISWO (Coal Industry Social Welfare Organisation)
            {% elif participant.Ember == 1 %}
                The Crowd: Ember
            {% elif participant.CARE == 1 %}
                CARE (Christian Action, Research, and Education)
            {% else %}
                BPAS (British Pregnancy Advisory Service)
            {% endif %}
            </strong>,
        which is the charity you indicated you <strong>preferred the most</strong>.
        {% else %}
            <strong>
                {% if participant.CISWO == 4 %}
                CISWO (Coal Industry Social Welfare Organisation)
            {% elif participant.Ember == 4 %}
                The Crowd: Ember
            {% elif participant.CARE == 4 %}
                CARE (Christian Action, Research, and Education)
            {% else %}
                BPAS (British Pregnancy Advisory Service)
            {% endif %}
            </strong>,
        which is the charity you indicated you <strong>preferred the least</strong>.
        {% endif %}
    </p>

    <p>
        Every slider completed in this stage will result in a <strong>£0.05</strong> donation to this charity.
        At the end of the experiment, one participant will be chosen at random, and the donation
        from this stage will be donated.
    </p>

    <p>
        If this stage is chosen to determine your earnings for the experiment, you will receive <strong>£1.50</strong> for each round
        you complete.
    </p>

    {% if participant.penalty %}
            <p>
                However, if you complete fewer than 20 sliders in a round, Stage 2 will terminate for you.
                You will not participate in the remaining rounds of Stage 2, and will not receive payment
                for those rounds. You will be paid only for the rounds you have completed.
            </p>
    {% endif %}



    {{ include "global/ButtonIfDemo.html" }}
    {{ include "global/Footer.html" }}

{% endblock %}